.calendar {
  display: grid;

  grid-template-columns: repeat(7, 5rem);
  grid-template-rows: repeat(5, 5rem);
  grid-template-areas:
    "... month month month month month ..."
    "day day day day day day day"
    "day day day day day day day"
    "day day day day day day day";
  gap: 1rem;
}
.calendar > * {
}
