.bookings {
  z-index: 200;
  height: 50vh;
  width: 50vw;
  font-size: 1rem;

  font-weight: 100;

  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  text-align: left;
  position: absolute;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.email {
  color: black;
  padding: 0.2rem 0.5rem;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.144);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
}
