.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr) repeat(6, 2fr);
  grid-template-areas:
    "year year year year year year year"
    "month month month month month month month"
    "weekday weekday weekday weekday weekday weekday weekday";
  gap: 1rem;
  height: 100%;
}
.weekdays {
  grid-area: weekday;
  height: 2rem;
  background-color: violet;
  display: flex;
  justify-content: space-around;
}
