.button {
  font-size: 1rem;
  border: none;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all;
}

.button:not(:first-child) {
  margin-left: 0;
}

.button:hover {
  background-color: rgb(66, 148, 255);
  color: white;
}

.button-secondary {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  transition: 0.3s all;
}

.button-secondary:hover {
  color: rgb(66, 148, 255);
}
