.button {
  font-size: 1rem;
  border: none;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.2rem;

  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s background-color;
}

.button:hover {
  background-color: rgb(66, 148, 255);
  color: white;
}

.button-secondary {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  transition: 0.3s all;
}

.button-secondary:hover {
  color: rgb(66, 148, 255);
}

.button-third {
  background: none;
  border: none;
  font-size: 1rem;
  margin: 0.2rem;
  cursor: pointer;
  transition: 0.3s background-color;
  background-color: rgb(1, 126, 88);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
}
.button-forth {
  background: none;
  border: none;
  font-size: 1rem;
  margin: 0.2rem;
  cursor: pointer;
  transition: 0.3s background-color;
  background-color: rgb(30, 48, 88);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  color: white;
}
.button-third-disabled {
  background: none;
  user-select: none;
  cursor: not-allowed;
  border: none;
  font-size: 1rem;
  margin: 0.2rem;
  cursor: pointer;
  transition: 0.3s background-color;
  background-color: rgb(147, 158, 163);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
}
.button-third-disabled:hover {
  cursor: not-allowed;
}
.button-third span {
  color: white;
}

.button-third:hover {
  background-color: rgb(112, 173, 209);
}
.button-third:active {
  background-color: rgb(0, 162, 255);
}
